@import url(toggle.css);

/* form */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2px;
}

.form {
  display: flex;
  flex-basis: 100%;
  background-color: #fff;
  border: 3px solid rgba(255, 99, 71, 0);
  border-radius: 6px;
}

.form-icon {
  align-self: center;
  padding: 0px 10px;
}

.form-input {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  border: none;
  outline: none;
  height: 30px;
  flex: 1;
}

.form-btn {
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  background-color: tomato;
  padding: 4px 20px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-error {
  flex-basis: 100%;
  font-size: 14px;
  color: red;
  display: none;
}
/* weather */
.weather {
  margin-top: 10px;
}
.weather__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
.weather__city {
  flex-basis: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.weather__temp {
  align-self: center;
}
.weather__description {
  flex-basis: 100%;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

.weather__others {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 5px;
}
.weather__other {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__others-icon {
  width: 30px;
}

/* Forecast */
.forecast {
  display: flex;
  flex-wrap: wrap;
  margin: 2px 0;
}
.forecast__description {
  flex-basis: 100%;
  font-size: 14px;
  margin: 2px 0px;
}
.forecast__elements {
  flex-basis: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.forecast__element {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast__hour {
  font-size: 12px;
}
.forecast__icon {
  width: 30px;
}
.forecast__temp {
  font-size: 14px;
  font-weight: bold;
}
/* settings */
.settings {
  width: 100%;
  margin: 0 auto;
}
.settings__para {
  display: inline-block;
  margin: 0 40px 10px 0;
  font-size: 15px;
  font-weight: 600;
}
.settings__temperature {
  margin-top: 20px;
}

.settings__backgrounds-to-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.settings__img-container {
  flex-basis: 48%;
  display: flex;
  justify-content: center;
  margin: 3px 2px;
}

.settings__img {
  box-shadow: 9px 13px 18px -7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 20px;
  height: 250px;
}
.settings__img-container--filter {
  filter: grayscale(90%);
}
