* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#root {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
}
.App {
  min-width: 240px;
  max-width: 600px;
  padding: 2px;
  margin: 0 auto;
}
.icon {
  font-size: 20px;
  color: greenyellow;
}
p > span {
  font-size: 12px;
}
